#будут игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db

#будут игнорироваться все файлы и каталоги .DS_Store
.DS_Store

#будет игнорироваться каталог tmp
#слэш в конце указывает, что это каталог
tmp/

#файлы, заканчивающиеся суффиксами _old, _backup, .bak
*_old
*_backup
*.bak

